*{
    margin: 0;
    padding: 0;
    max-height: 65%;
}
body {
    height: 100%;
    background-color: #5a0101;
    opacity: 0.8;
    background-image: linear-gradient(to right, #610000, #610000 6px, #5a0101 5px, #5a0101 );
    background-size: 10px 100%;
    overflow: hidden;
}

div[class*="col-"] {
  background-color: beige;
  height: 100px;
  width: 150px;
  border-radius: 3px;
  position: relative;
}
.btn{
  width: 100%;
  height: 9vh;
}
.valasztasgomb{
    display: block;
    border: none;
    width: 100%;
    height: 25px;
    background-color: white;
}
.botCombinations{
  display: block;
  border: none;
  position: relative;
  left: 25%;
  width: 50%;
  height: 25px;
  background-color: white;
}
.dice{
    position: relative;
    top: 15%;
    width: 100%;
    height: 100%;
    background-size: cover;
}
#choices{ 
  max-height: 120%;
  width: 10vw;
  background-color: blanchedalmond;
  height: 100vh;
}
tr{
  text-align: center;
  align-items: center;
}
#cubes{
  float: right;
  position: relative;
}
.row{
  margin-top: 10vh;
}